:root {
    --font-colour: rgba(255, 230, 0, 0.9);
}

/*rgba(255, 196, 0, 0.85);*/
body {
    background: url('./imgs/about.jpg');
    background-size: 100vw 100vh;
}

/*Navigation*/
nav {
    width: 100%;
    margin: 3vh 0;
}

nav ul {
    width: fit-content;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    padding: 5px;
    margin: 0 0.5vw;
    font-size: 28px;
    color: var(--font-colour);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    cursor: pointer;
}

nav ul li:hover {
    transform: scale(1.02);
}

/*Commonly used.*/
h1 {
    margin: 2vh 0;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: var(--font-colour);
}

h2 {
    margin: 1.5vh 0;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: var(--font-colour);
}

h3 {
    margin: 0.5vh 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

p {
    margin: 2vh 0;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: var(--font-colour);
}

/*Menu.*/
.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menuItem {
    width: 200px;
    padding: 5px;
    margin: 15px auto;
    background: rgba(246, 231, 193, 0.9);
    border: 1px solid black;
    border-radius: 10px;
}

.menuItem p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #000;
}

/*Contact*/
.contentText {
    width: 90vw;
    margin: 0 auto;
}