:root {
    --font-colour: rgba(240, 240, 240, 0.9);
    --background: rgba(0, 0, 0, 0.5);
}

body {
    background: url('./imgs/background.jpg');
    background-size: 100vw 100vh;
}

/*Header*/
header {
    padding: 2vh;
    background: var(--background);
}

/*Navigation*/
nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 3vh auto;
}

nav ul {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5vw;
    font-size: 28px;
    color: var(--font-colour);
    cursor: pointer;
}
nav ul li:hover {
    transform: scale(1.02);
}

/*Commonly used.*/
h1 {
    margin: 2vh 0;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: var(--font-colour);
}

h2 {
    margin: 1.5vh 0;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: var(--font-colour);
}

p {
    margin: 2vh 0;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: var(--font-colour);
}

/*Content container div*/
.content {
    width: 80vw;
    padding: 3vh;
    margin: 4vh auto;
    background: var(--background);
    border-radius: 5px;
}

/*Home*/
.homeImg {
    display: block;
    width: 400px;
    margin: 0 auto;
    border-radius: 5%;
}

.homeText {
    margin: 3vh;
}

/*Menu.*/
.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menuItem {
    width: 200px;
    padding: 5px;
    margin: 15px auto;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
}

.menuItem p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--font-colour);
}

/*Contact*/
.contentText {
    width: 90%;
    margin: 0 auto;
}

.contacts {
    line-height: 40px;
}